#rainbg {
	overflow: hidden;
	position:absolute;
	z-index: 9;
	height:700px;

}

#main {
	font-size: 12px;
	z-index: 10;
	position: relative;
	margin-right: auto;
	font-family: Helvetica, Times New Roman, sans-serif;
	width: 100px;
	height: 700px;
	position:absolute;
	z-index: 10;
}