body {
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
    margin: 0 0 0 0;
}

canvas {
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#content form {
    display: inline-block;
    float: left;
}

#content p {
    font-family: sans-serif;
    display: inline-block;
    float: right;
    text-align: right;
    margin: 0 0 0 0;
    padding-right: 5em;
}